logic-apps/sftp-file-ingestion/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "triggers": {
            "When_files_are_added_or_modified": {
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['sftpwithssh']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/datasets/default/triggers/onupdatedfile",
                    "queries": {
                        "folderId": "@parameters('sftpFolderPath')",
                        "includeFileContent": false,
                        "inferContentType": true,
                        "queryParametersSingleEncoded": true
                    }
                },
                "recurrence": {
                    "frequency": "Minute",
                    "interval": 1
                },
                "splitOn": "@triggerBody()",
                "metadata": {},
                "description": "Polls the configured SFTP folder for new or modified files."
            }
        },
        "actions": {
            "Get_file_content": {
                "runAfter": {},
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['sftpwithssh']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent(triggerBody()?['Path']))}/content",
                    "queries": {
                        "inferContentType": true
                    }
                },
                "description": "Downloads the file content from the SFTP server."
            },
            "Compute_content_hash": {
                "runAfter": {
                    "Get_file_content": [
                        "Succeeded"
                    ]
                },
                "type": "Compose",
                "inputs": "@{hashBody('Get_file_content', 'md5')}",
                "description": "Computes MD5 hash of the file content for duplicate detection."
            },
            "Generate_file_id": {
                "runAfter": {
                    "Compute_content_hash": [
                        "Succeeded"
                    ]
                },
                "type": "Compose",
                "inputs": "sftp-@{guid()}",
                "description": "Generates a unique file ID for the SFTP record."
            },
            "Check_for_duplicate": {
                "runAfter": {
                    "Generate_file_id": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['documentdb']['connectionId']"
                        }
                    },
                    "method": "post",
                    "body": {
                        "query": "SELECT VALUE COUNT(1) FROM c WHERE c.sftpPath = @@sftpPath AND c.contentHash = @@contentHash AND c.intakeSource = 'sftp'",
                        "parameters": [
                            {
                                "name": "@@sftpPath",
                                "value": "@triggerBody()?['Path']"
                            },
                            {
                                "name": "@@contentHash",
                                "value": "@outputs('Compute_content_hash')"
                            }
                        ]
                    },
                    "path": "/v2/cosmosdb/@{encodeURIComponent(parameters('cosmosDbAccountName'))}/dbs/@{encodeURIComponent(parameters('cosmosDbDatabaseName'))}/colls/@{encodeURIComponent('intake-records')}/query"
                },
                "description": "Queries Cosmos DB for existing record with same sftpPath and contentHash."
            },
            "Is_duplicate": {
                "runAfter": {
                    "Check_for_duplicate": [
                        "Succeeded"
                    ]
                },
                "type": "If",
                "expression": {
                    "and": [
                        {
                            "greater": [
                                "@body('Check_for_duplicate')?['Documents']?[0]",
                                0
                            ]
                        }
                    ]
                },
                "actions": {
                    "Log_duplicate_warning": {
                        "type": "Compose",
                        "inputs": {
                            "warning": "Duplicate file detected",
                            "sftpPath": "@triggerBody()?['Path']",
                            "contentHash": "@outputs('Compute_content_hash')",
                            "action": "Skipped processing - file NOT moved"
                        },
                        "description": "Logs duplicate detection. File is NOT moved from SFTP folder."
                    }
                },
                "else": {
                    "actions": {
                        "Parse_filename_metadata": {
                            "runAfter": {},
                            "type": "Compose",
                            "inputs": {
                                "fullFilename": "@triggerBody()?['Name']",
                                "baseName": "@first(split(triggerBody()?['Name'], '.'))",
                                "extension": "@toLower(last(split(triggerBody()?['Name'], '.')))",
                                "segments": "@split(first(split(triggerBody()?['Name'], '.')), parameters('filenameDelimiter'))"
                            },
                            "description": "Strips extension and splits filename by configurable delimiter."
                        },
                        "Validate_segment_count": {
                            "runAfter": {
                                "Parse_filename_metadata": [
                                    "Succeeded"
                                ]
                            },
                            "type": "If",
                            "expression": {
                                "and": [
                                    {
                                        "equals": [
                                            "@length(outputs('Parse_filename_metadata')?['segments'])",
                                            6
                                        ]
                                    }
                                ]
                            },
                            "actions": {
                                "Extract_metadata_fields": {
                                    "runAfter": {},
                                    "type": "Compose",
                                    "inputs": {
                                        "account": "@outputs('Parse_filename_metadata')?['segments'][0]",
                                        "fund": "@outputs('Parse_filename_metadata')?['segments'][1]",
                                        "docType": "@outputs('Parse_filename_metadata')?['segments'][2]",
                                        "docName": "@outputs('Parse_filename_metadata')?['segments'][3]",
                                        "publishedDate": "@{substring(outputs('Parse_filename_metadata')?['segments'][4], 0, 4)}-@{substring(outputs('Parse_filename_metadata')?['segments'][4], 4, 2)}-@{substring(outputs('Parse_filename_metadata')?['segments'][4], 6, 2)}",
                                        "effectiveDate": "@{substring(outputs('Parse_filename_metadata')?['segments'][5], 0, 4)}-@{substring(outputs('Parse_filename_metadata')?['segments'][5], 4, 2)}-@{substring(outputs('Parse_filename_metadata')?['segments'][5], 6, 2)}"
                                    },
                                    "description": "Extracts positional metadata fields and converts YYYYMMDD dates to ISO 8601."
                                },
                                "Upload_to_blob_storage": {
                                    "runAfter": {
                                        "Extract_metadata_fields": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azureblob']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "body": "@body('Get_file_content')",
                                        "headers": {
                                            "ReadFileMetadataFromServer": true
                                        },
                                        "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('storageAccountName')))}/files",
                                        "queries": {
                                            "folderPath": "/attachments",
                                            "name": "sftp-@{outputs('Generate_file_id')}/@{triggerBody()?['Name']}",
                                            "queryParametersSingleEncoded": true
                                        }
                                    },
                                    "runtimeConfiguration": {
                                        "contentTransfer": {
                                            "transferMode": "Chunked"
                                        }
                                    },
                                    "description": "Uploads file to blob storage at /attachments/sftp-{fileId}/{filename}."
                                },
                                "Create_Cosmos_DB_record": {
                                    "runAfter": {
                                        "Upload_to_blob_storage": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['documentdb']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "body": {
                                            "id": "@outputs('Generate_file_id')",
                                            "intakeSource": "sftp",
                                            "status": "received",
                                            "receivedAt": "@{utcNow()}",
                                            "originalFilename": "@triggerBody()?['Name']",
                                            "fileType": "@outputs('Parse_filename_metadata')?['extension']",
                                            "fileSize": "@triggerBody()?['Size']",
                                            "sftpPath": "@triggerBody()?['Path']",
                                            "contentHash": "@outputs('Compute_content_hash')",
                                            "blobPath": "/attachments/sftp-@{outputs('Generate_file_id')}/@{triggerBody()?['Name']}",
                                            "account": "@outputs('Extract_metadata_fields')?['account']",
                                            "fund": "@outputs('Extract_metadata_fields')?['fund']",
                                            "docType": "@outputs('Extract_metadata_fields')?['docType']",
                                            "docName": "@outputs('Extract_metadata_fields')?['docName']",
                                            "publishedDate": "@outputs('Extract_metadata_fields')?['publishedDate']",
                                            "effectiveDate": "@outputs('Extract_metadata_fields')?['effectiveDate']",
                                            "processedAt": null,
                                            "classification": null,
                                            "relevanceCheck": null,
                                            "pipelineMode": null,
                                            "stepsExecuted": [
                                                "metadata-parse"
                                            ],
                                            "queue": null,
                                            "sharepointPath": null,
                                            "createdAt": "@{utcNow()}",
                                            "updatedAt": "@{utcNow()}"
                                        },
                                        "headers": {
                                            "x-ms-documentdb-is-upsert": true
                                        },
                                        "path": "/v2/cosmosdb/@{encodeURIComponent(parameters('cosmosDbAccountName'))}/dbs/@{encodeURIComponent(parameters('cosmosDbDatabaseName'))}/colls/@{encodeURIComponent('intake-records')}/docs"
                                    },
                                    "description": "Creates intake record in Cosmos DB with parsed metadata and status 'received'."
                                },
                                "Route_by_file_type": {
                                    "runAfter": {
                                        "Create_Cosmos_DB_record": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Switch",
                                    "expression": "@outputs('Parse_filename_metadata')?['extension']",
                                    "cases": {
                                        "csv": {
                                            "case": "csv",
                                            "actions": {
                                                "Upload_CSV_to_SharePoint": {
                                                    "runAfter": {},
                                                    "type": "Http",
                                                    "inputs": {
                                                        "method": "PUT",
                                                        "uri": "https://graph.microsoft.com/v1.0/drives/@{parameters('sharepointDriveId')}/root:/@{substring(outputs('Extract_metadata_fields')?['account'], 0, 1)}/@{outputs('Extract_metadata_fields')?['account']}/@{outputs('Extract_metadata_fields')?['fund']}/@{triggerBody()?['Name']}:/content",
                                                        "body": "@body('Get_file_content')",
                                                        "headers": {
                                                            "Content-Type": "application/octet-stream"
                                                        },
                                                        "authentication": {
                                                            "type": "ActiveDirectoryOAuth",
                                                            "tenant": "@{parameters('sharepointTenantId')}",
                                                            "audience": "https://graph.microsoft.com",
                                                            "clientId": "@{parameters('sharepointClientId')}",
                                                            "secret": "@{parameters('sharepointClientSecret')}"
                                                        }
                                                    },
                                                    "description": "Uploads CSV file to SharePoint via Graph API with structured folder path."
                                                },
                                                "Update_Cosmos_CSV_archived": {
                                                    "runAfter": {
                                                        "Upload_CSV_to_SharePoint": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['documentdb']['connectionId']"
                                                            }
                                                        },
                                                        "method": "post",
                                                        "body": {
                                                            "id": "@outputs('Generate_file_id')",
                                                            "intakeSource": "sftp",
                                                            "status": "archived",
                                                            "receivedAt": "@{body('Create_Cosmos_DB_record')?['receivedAt']}",
                                                            "originalFilename": "@triggerBody()?['Name']",
                                                            "fileType": "@outputs('Parse_filename_metadata')?['extension']",
                                                            "fileSize": "@triggerBody()?['Size']",
                                                            "sftpPath": "@triggerBody()?['Path']",
                                                            "contentHash": "@outputs('Compute_content_hash')",
                                                            "blobPath": "/attachments/sftp-@{outputs('Generate_file_id')}/@{triggerBody()?['Name']}",
                                                            "account": "@outputs('Extract_metadata_fields')?['account']",
                                                            "fund": "@outputs('Extract_metadata_fields')?['fund']",
                                                            "docType": "@outputs('Extract_metadata_fields')?['docType']",
                                                            "docName": "@outputs('Extract_metadata_fields')?['docName']",
                                                            "publishedDate": "@outputs('Extract_metadata_fields')?['publishedDate']",
                                                            "effectiveDate": "@outputs('Extract_metadata_fields')?['effectiveDate']",
                                                            "sharepointPath": "@{substring(outputs('Extract_metadata_fields')?['account'], 0, 1)}/@{outputs('Extract_metadata_fields')?['account']}/@{outputs('Extract_metadata_fields')?['fund']}/@{triggerBody()?['Name']}",
                                                            "processedAt": "@{utcNow()}",
                                                            "classification": null,
                                                            "relevanceCheck": null,
                                                            "pipelineMode": null,
                                                            "stepsExecuted": [
                                                                "metadata-parse",
                                                                "blob-upload",
                                                                "sharepoint-upload"
                                                            ],
                                                            "queue": null,
                                                            "createdAt": "@{body('Create_Cosmos_DB_record')?['createdAt']}",
                                                            "updatedAt": "@{utcNow()}"
                                                        },
                                                        "headers": {
                                                            "x-ms-documentdb-is-upsert": true
                                                        },
                                                        "path": "/v2/cosmosdb/@{encodeURIComponent(parameters('cosmosDbAccountName'))}/dbs/@{encodeURIComponent(parameters('cosmosDbDatabaseName'))}/colls/@{encodeURIComponent('intake-records')}/docs"
                                                    },
                                                    "description": "Updates Cosmos DB record with sharepointPath and status 'archived'."
                                                },
                                                "Archive_CSV_on_SFTP": {
                                                    "runAfter": {
                                                        "Update_Cosmos_CSV_archived": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['sftpwithssh']['connectionId']"
                                                            }
                                                        },
                                                        "method": "post",
                                                        "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent(triggerBody()?['Path']))}/rename",
                                                        "queries": {
                                                            "newPath": "@{parameters('sftpArchivePath')}/@{triggerBody()?['Name']}"
                                                        }
                                                    },
                                                    "description": "Moves CSV file from inbox to archive folder on SFTP."
                                                }
                                            }
                                        },
                                        "xlsx": {
                                            "case": "xlsx",
                                            "actions": {
                                                "Upload_XLSX_to_SharePoint": {
                                                    "runAfter": {},
                                                    "type": "Http",
                                                    "inputs": {
                                                        "method": "PUT",
                                                        "uri": "https://graph.microsoft.com/v1.0/drives/@{parameters('sharepointDriveId')}/root:/@{substring(outputs('Extract_metadata_fields')?['account'], 0, 1)}/@{outputs('Extract_metadata_fields')?['account']}/@{outputs('Extract_metadata_fields')?['fund']}/@{triggerBody()?['Name']}:/content",
                                                        "body": "@body('Get_file_content')",
                                                        "headers": {
                                                            "Content-Type": "application/octet-stream"
                                                        },
                                                        "authentication": {
                                                            "type": "ActiveDirectoryOAuth",
                                                            "tenant": "@{parameters('sharepointTenantId')}",
                                                            "audience": "https://graph.microsoft.com",
                                                            "clientId": "@{parameters('sharepointClientId')}",
                                                            "secret": "@{parameters('sharepointClientSecret')}"
                                                        }
                                                    },
                                                    "description": "Uploads XLSX file to SharePoint via Graph API with structured folder path."
                                                },
                                                "Update_Cosmos_XLSX_archived": {
                                                    "runAfter": {
                                                        "Upload_XLSX_to_SharePoint": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['documentdb']['connectionId']"
                                                            }
                                                        },
                                                        "method": "post",
                                                        "body": {
                                                            "id": "@outputs('Generate_file_id')",
                                                            "intakeSource": "sftp",
                                                            "status": "archived",
                                                            "receivedAt": "@{body('Create_Cosmos_DB_record')?['receivedAt']}",
                                                            "originalFilename": "@triggerBody()?['Name']",
                                                            "fileType": "@outputs('Parse_filename_metadata')?['extension']",
                                                            "fileSize": "@triggerBody()?['Size']",
                                                            "sftpPath": "@triggerBody()?['Path']",
                                                            "contentHash": "@outputs('Compute_content_hash')",
                                                            "blobPath": "/attachments/sftp-@{outputs('Generate_file_id')}/@{triggerBody()?['Name']}",
                                                            "account": "@outputs('Extract_metadata_fields')?['account']",
                                                            "fund": "@outputs('Extract_metadata_fields')?['fund']",
                                                            "docType": "@outputs('Extract_metadata_fields')?['docType']",
                                                            "docName": "@outputs('Extract_metadata_fields')?['docName']",
                                                            "publishedDate": "@outputs('Extract_metadata_fields')?['publishedDate']",
                                                            "effectiveDate": "@outputs('Extract_metadata_fields')?['effectiveDate']",
                                                            "sharepointPath": "@{substring(outputs('Extract_metadata_fields')?['account'], 0, 1)}/@{outputs('Extract_metadata_fields')?['account']}/@{outputs('Extract_metadata_fields')?['fund']}/@{triggerBody()?['Name']}",
                                                            "processedAt": "@{utcNow()}",
                                                            "classification": null,
                                                            "relevanceCheck": null,
                                                            "pipelineMode": null,
                                                            "stepsExecuted": [
                                                                "metadata-parse",
                                                                "blob-upload",
                                                                "sharepoint-upload"
                                                            ],
                                                            "queue": null,
                                                            "createdAt": "@{body('Create_Cosmos_DB_record')?['createdAt']}",
                                                            "updatedAt": "@{utcNow()}"
                                                        },
                                                        "headers": {
                                                            "x-ms-documentdb-is-upsert": true
                                                        },
                                                        "path": "/v2/cosmosdb/@{encodeURIComponent(parameters('cosmosDbAccountName'))}/dbs/@{encodeURIComponent(parameters('cosmosDbDatabaseName'))}/colls/@{encodeURIComponent('intake-records')}/docs"
                                                    },
                                                    "description": "Updates Cosmos DB record with sharepointPath and status 'archived'."
                                                },
                                                "Archive_XLSX_on_SFTP": {
                                                    "runAfter": {
                                                        "Update_Cosmos_XLSX_archived": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['sftpwithssh']['connectionId']"
                                                            }
                                                        },
                                                        "method": "post",
                                                        "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent(triggerBody()?['Path']))}/rename",
                                                        "queries": {
                                                            "newPath": "@{parameters('sftpArchivePath')}/@{triggerBody()?['Name']}"
                                                        }
                                                    },
                                                    "description": "Moves XLSX file from inbox to archive folder on SFTP."
                                                }
                                            }
                                        },
                                        "xls": {
                                            "case": "xls",
                                            "actions": {
                                                "Upload_XLS_to_SharePoint": {
                                                    "runAfter": {},
                                                    "type": "Http",
                                                    "inputs": {
                                                        "method": "PUT",
                                                        "uri": "https://graph.microsoft.com/v1.0/drives/@{parameters('sharepointDriveId')}/root:/@{substring(outputs('Extract_metadata_fields')?['account'], 0, 1)}/@{outputs('Extract_metadata_fields')?['account']}/@{outputs('Extract_metadata_fields')?['fund']}/@{triggerBody()?['Name']}:/content",
                                                        "body": "@body('Get_file_content')",
                                                        "headers": {
                                                            "Content-Type": "application/octet-stream"
                                                        },
                                                        "authentication": {
                                                            "type": "ActiveDirectoryOAuth",
                                                            "tenant": "@{parameters('sharepointTenantId')}",
                                                            "audience": "https://graph.microsoft.com",
                                                            "clientId": "@{parameters('sharepointClientId')}",
                                                            "secret": "@{parameters('sharepointClientSecret')}"
                                                        }
                                                    },
                                                    "description": "Uploads XLS file to SharePoint via Graph API with structured folder path."
                                                },
                                                "Update_Cosmos_XLS_archived": {
                                                    "runAfter": {
                                                        "Upload_XLS_to_SharePoint": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['documentdb']['connectionId']"
                                                            }
                                                        },
                                                        "method": "post",
                                                        "body": {
                                                            "id": "@outputs('Generate_file_id')",
                                                            "intakeSource": "sftp",
                                                            "status": "archived",
                                                            "receivedAt": "@{body('Create_Cosmos_DB_record')?['receivedAt']}",
                                                            "originalFilename": "@triggerBody()?['Name']",
                                                            "fileType": "@outputs('Parse_filename_metadata')?['extension']",
                                                            "fileSize": "@triggerBody()?['Size']",
                                                            "sftpPath": "@triggerBody()?['Path']",
                                                            "contentHash": "@outputs('Compute_content_hash')",
                                                            "blobPath": "/attachments/sftp-@{outputs('Generate_file_id')}/@{triggerBody()?['Name']}",
                                                            "account": "@outputs('Extract_metadata_fields')?['account']",
                                                            "fund": "@outputs('Extract_metadata_fields')?['fund']",
                                                            "docType": "@outputs('Extract_metadata_fields')?['docType']",
                                                            "docName": "@outputs('Extract_metadata_fields')?['docName']",
                                                            "publishedDate": "@outputs('Extract_metadata_fields')?['publishedDate']",
                                                            "effectiveDate": "@outputs('Extract_metadata_fields')?['effectiveDate']",
                                                            "sharepointPath": "@{substring(outputs('Extract_metadata_fields')?['account'], 0, 1)}/@{outputs('Extract_metadata_fields')?['account']}/@{outputs('Extract_metadata_fields')?['fund']}/@{triggerBody()?['Name']}",
                                                            "processedAt": "@{utcNow()}",
                                                            "classification": null,
                                                            "relevanceCheck": null,
                                                            "pipelineMode": null,
                                                            "stepsExecuted": [
                                                                "metadata-parse",
                                                                "blob-upload",
                                                                "sharepoint-upload"
                                                            ],
                                                            "queue": null,
                                                            "createdAt": "@{body('Create_Cosmos_DB_record')?['createdAt']}",
                                                            "updatedAt": "@{utcNow()}"
                                                        },
                                                        "headers": {
                                                            "x-ms-documentdb-is-upsert": true
                                                        },
                                                        "path": "/v2/cosmosdb/@{encodeURIComponent(parameters('cosmosDbAccountName'))}/dbs/@{encodeURIComponent(parameters('cosmosDbDatabaseName'))}/colls/@{encodeURIComponent('intake-records')}/docs"
                                                    },
                                                    "description": "Updates Cosmos DB record with sharepointPath and status 'archived'."
                                                },
                                                "Archive_XLS_on_SFTP": {
                                                    "runAfter": {
                                                        "Update_Cosmos_XLS_archived": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['sftpwithssh']['connectionId']"
                                                            }
                                                        },
                                                        "method": "post",
                                                        "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent(triggerBody()?['Path']))}/rename",
                                                        "queries": {
                                                            "newPath": "@{parameters('sftpArchivePath')}/@{triggerBody()?['Name']}"
                                                        }
                                                    },
                                                    "description": "Moves XLS file from inbox to archive folder on SFTP."
                                                }
                                            }
                                        },
                                        "pdf": {
                                            "case": "pdf",
                                            "actions": {
                                                "Send_PDF_to_Service_Bus": {
                                                    "runAfter": {},
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['servicebus']['connectionId']"
                                                            }
                                                        },
                                                        "method": "post",
                                                        "body": {
                                                            "ContentData": "@{base64(concat('{','\n','  \"fileId\": \"', outputs('Generate_file_id'), '\",','\n','  \"originalFilename\": \"', triggerBody()?['Name'], '\",','\n','  \"fileType\": \"pdf\",','\n','  \"blobPath\": \"/attachments/sftp-', outputs('Generate_file_id'), '/', triggerBody()?['Name'], '\",','\n','  \"intakeSource\": \"sftp\",','\n','  \"receivedAt\": \"', utcNow(), '\",','\n','  \"sftpPath\": \"', triggerBody()?['Path'], '\",','\n','  \"contentHash\": \"', outputs('Compute_content_hash'), '\",','\n','  \"fileSize\": ', triggerBody()?['Size'], ',','\n','  \"account\": \"', outputs('Extract_metadata_fields')?['account'], '\",','\n','  \"fund\": \"', outputs('Extract_metadata_fields')?['fund'], '\",','\n','  \"docType\": \"', outputs('Extract_metadata_fields')?['docType'], '\",','\n','  \"docName\": \"', outputs('Extract_metadata_fields')?['docName'], '\",','\n','  \"publishedDate\": \"', outputs('Extract_metadata_fields')?['publishedDate'], '\",','\n','  \"effectiveDate\": \"', outputs('Extract_metadata_fields')?['effectiveDate'], '\"','\n','}'))}"
                                                        },
                                                        "path": "/@{encodeURIComponent(encodeURIComponent('email-intake'))}/messages",
                                                        "queries": {
                                                            "systemProperties": "None"
                                                        }
                                                    },
                                                    "description": "Sends SFTP PDF intake message to email-intake Service Bus queue for agent processing."
                                                },
                                                "Update_Cosmos_PDF_queued": {
                                                    "runAfter": {
                                                        "Send_PDF_to_Service_Bus": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['documentdb']['connectionId']"
                                                            }
                                                        },
                                                        "method": "post",
                                                        "body": {
                                                            "id": "@outputs('Generate_file_id')",
                                                            "intakeSource": "sftp",
                                                            "status": "received",
                                                            "receivedAt": "@{body('Create_Cosmos_DB_record')?['receivedAt']}",
                                                            "originalFilename": "@triggerBody()?['Name']",
                                                            "fileType": "pdf",
                                                            "fileSize": "@triggerBody()?['Size']",
                                                            "sftpPath": "@triggerBody()?['Path']",
                                                            "contentHash": "@outputs('Compute_content_hash')",
                                                            "blobPath": "/attachments/sftp-@{outputs('Generate_file_id')}/@{triggerBody()?['Name']}",
                                                            "account": "@outputs('Extract_metadata_fields')?['account']",
                                                            "fund": "@outputs('Extract_metadata_fields')?['fund']",
                                                            "docType": "@outputs('Extract_metadata_fields')?['docType']",
                                                            "docName": "@outputs('Extract_metadata_fields')?['docName']",
                                                            "publishedDate": "@outputs('Extract_metadata_fields')?['publishedDate']",
                                                            "effectiveDate": "@outputs('Extract_metadata_fields')?['effectiveDate']",
                                                            "processedAt": null,
                                                            "classification": null,
                                                            "relevanceCheck": null,
                                                            "pipelineMode": null,
                                                            "stepsExecuted": [
                                                                "metadata-parse",
                                                                "blob-upload",
                                                                "queue-send"
                                                            ],
                                                            "queue": "email-intake",
                                                            "sharepointPath": null,
                                                            "createdAt": "@{body('Create_Cosmos_DB_record')?['createdAt']}",
                                                            "updatedAt": "@{utcNow()}"
                                                        },
                                                        "headers": {
                                                            "x-ms-documentdb-is-upsert": true
                                                        },
                                                        "path": "/v2/cosmosdb/@{encodeURIComponent(parameters('cosmosDbAccountName'))}/dbs/@{encodeURIComponent(parameters('cosmosDbDatabaseName'))}/colls/@{encodeURIComponent('intake-records')}/docs"
                                                    },
                                                    "description": "Updates Cosmos DB record with queue destination for PDF routing."
                                                },
                                                "Archive_PDF_on_SFTP": {
                                                    "runAfter": {
                                                        "Update_Cosmos_PDF_queued": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['sftpwithssh']['connectionId']"
                                                            }
                                                        },
                                                        "method": "post",
                                                        "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent(triggerBody()?['Path']))}/rename",
                                                        "queries": {
                                                            "newPath": "@{parameters('sftpArchivePath')}/@{triggerBody()?['Name']}"
                                                        }
                                                    },
                                                    "description": "Moves PDF file from inbox to archive folder on SFTP."
                                                }
                                            }
                                        }
                                    },
                                    "default": {
                                        "actions": {
                                            "Log_unsupported_file_type": {
                                                "type": "Compose",
                                                "inputs": {
                                                    "warning": "Unsupported file type",
                                                    "filename": "@triggerBody()?['Name']",
                                                    "extension": "@outputs('Parse_filename_metadata')?['extension']",
                                                    "action": "Skipped - file not processed, not moved"
                                                },
                                                "description": "Logs unsupported file type. File is NOT moved from SFTP folder."
                                            }
                                        }
                                    },
                                    "description": "Routes file by extension: CSV/Excel → SharePoint, PDF → Service Bus, Other → skip."
                                }
                            },
                            "else": {
                                "actions": {
                                    "Create_error_record_bad_filename": {
                                        "runAfter": {},
                                        "type": "ApiConnection",
                                        "inputs": {
                                            "host": {
                                                "connection": {
                                                    "name": "@parameters('$connections')['documentdb']['connectionId']"
                                                }
                                            },
                                            "method": "post",
                                            "body": {
                                                "id": "@outputs('Generate_file_id')",
                                                "intakeSource": "sftp",
                                                "status": "error",
                                                "receivedAt": "@{utcNow()}",
                                                "originalFilename": "@triggerBody()?['Name']",
                                                "fileType": "@outputs('Parse_filename_metadata')?['extension']",
                                                "fileSize": "@triggerBody()?['Size']",
                                                "sftpPath": "@triggerBody()?['Path']",
                                                "contentHash": "@outputs('Compute_content_hash')",
                                                "blobPath": null,
                                                "metadataParseError": "Expected 6 segments in filename (Account_Fund_DocType_DocName_PublishedDate_EffectiveDate) but found @{length(outputs('Parse_filename_metadata')?['segments'])}",
                                                "processedAt": null,
                                                "classification": null,
                                                "relevanceCheck": null,
                                                "pipelineMode": null,
                                                "stepsExecuted": [],
                                                "queue": null,
                                                "sharepointPath": null,
                                                "createdAt": "@{utcNow()}",
                                                "updatedAt": "@{utcNow()}"
                                            },
                                            "headers": {
                                                "x-ms-documentdb-is-upsert": true
                                            },
                                            "path": "/v2/cosmosdb/@{encodeURIComponent(parameters('cosmosDbAccountName'))}/dbs/@{encodeURIComponent(parameters('cosmosDbDatabaseName'))}/colls/@{encodeURIComponent('intake-records')}/docs"
                                        },
                                        "description": "Creates error record when filename does not match expected convention. File stays on SFTP."
                                    }
                                }
                            },
                            "description": "Validates that filename has exactly 6 segments when split by delimiter."
                        }
                    }
                },
                "description": "Skips processing for duplicate files. Processes new files through metadata parsing, blob upload, Cosmos DB, and routing."
            }
        },
        "outputs": {},
        "parameters": {
            "$connections": {
                "type": "Object",
                "defaultValue": {}
            },
            "sftpFolderPath": {
                "type": "String",
                "defaultValue": "/inbox/"
            },
            "sftpArchivePath": {
                "type": "String",
                "defaultValue": "/processed/"
            },
            "cosmosDbAccountName": {
                "type": "String"
            },
            "cosmosDbDatabaseName": {
                "type": "String",
                "defaultValue": "email-processing"
            },
            "storageAccountName": {
                "type": "String"
            },
            "sharepointDriveId": {
                "type": "String"
            },
            "sharepointTenantId": {
                "type": "String"
            },
            "sharepointClientId": {
                "type": "String"
            },
            "sharepointClientSecret": {
                "type": "String"
            },
            "filenameDelimiter": {
                "type": "String",
                "defaultValue": "_"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "sftpwithssh": {
                    "id": "/subscriptions/6998587d-ecee-452a-83ec-3e6c5a713251/providers/Microsoft.Web/locations/swedencentral/managedApis/sftpwithssh",
                    "connectionId": "/subscriptions/6998587d-ecee-452a-83ec-3e6c5a713251/resourceGroups/rg-docproc-dev/providers/Microsoft.Web/connections/sftpwithssh",
                    "connectionName": "sftpwithssh",
                    "connectionProperties": {}
                },
                "documentdb": {
                    "id": "/subscriptions/6998587d-ecee-452a-83ec-3e6c5a713251/providers/Microsoft.Web/locations/swedencentral/managedApis/documentdb",
                    "connectionId": "/subscriptions/6998587d-ecee-452a-83ec-3e6c5a713251/resourceGroups/rg-docproc-dev/providers/Microsoft.Web/connections/documentdb",
                    "connectionName": "documentdb",
                    "connectionProperties": {
                        "authentication": {
                            "type": "ManagedServiceIdentity"
                        }
                    }
                },
                "azureblob": {
                    "id": "/subscriptions/6998587d-ecee-452a-83ec-3e6c5a713251/providers/Microsoft.Web/locations/swedencentral/managedApis/azureblob",
                    "connectionId": "/subscriptions/6998587d-ecee-452a-83ec-3e6c5a713251/resourceGroups/rg-docproc-dev/providers/Microsoft.Web/connections/azureblob",
                    "connectionName": "azureblob",
                    "connectionProperties": {
                        "authentication": {
                            "type": "ManagedServiceIdentity"
                        }
                    }
                },
                "servicebus": {
                    "id": "/subscriptions/6998587d-ecee-452a-83ec-3e6c5a713251/providers/Microsoft.Web/locations/swedencentral/managedApis/servicebus",
                    "connectionId": "/subscriptions/6998587d-ecee-452a-83ec-3e6c5a713251/resourceGroups/rg-docproc-dev/providers/Microsoft.Web/connections/conn-servicebus-sftp",
                    "connectionName": "conn-servicebus-sftp",
                    "connectionProperties": {}
                }
            }
        },
        "sftpFolderPath": {
            "value": "/inbox/"
        },
        "sftpArchivePath": {
            "value": "/processed/"
        },
        "cosmosDbAccountName": {
            "value": "cosmos-docproc-dev-izr2ch55woa3c"
        },
        "cosmosDbDatabaseName": {
            "value": "email-processing"
        },
        "storageAccountName": {
            "value": "stdocprocdevizr2ch55"
        },
        "sharepointDriveId": {
            "value": "b!MszTwWYKg0KLg3sLjjT2_tIBvvnZdaxBgsco0CGTShhUqvd3NHdaSJG39av3SC5R"
        },
        "sharepointTenantId": {
            "value": "2ce91bb1-0177-45b5-a98c-9c2f7ebe64de"
        },
        "sharepointClientId": {
            "value": "a4ba9c05-2509-4162-b418-4e677b60042e"
        },
        "sharepointClientSecret": {
            "value": ""
        },
        "filenameDelimiter": {
            "value": "_"
        }
    }
}